main{
    min-height: 500px;
}

#section-banner{
    min-height: 400px;
}

#section-banner img {
    height: 500px;
}

.example-card {
    max-width: 400px;
    align-items: center;
    
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
}

mat-grid-list{
    margin: 10px 0px;
}

mat-grid-title{
    padding: 2px;
    border-radius: 30px;
    align-items: center;
}

t-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

t-card-actions{
    display: flex;
    justify-content: space-around;
}

mat-card-actions p{
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: block;

}

#button-mat{
    
}

mat-card-content{
    justify-content: center;
    
}

mat-card img {
    height: 400px;
    width: 400px;
}